In [1]:
import os

In [2]:
import pandas as pd

In [5]:
os.listdir("../data/")

['census_data.csv',
 'gz_2010_us_050_00_5m.json',
 'county_pop_2022.csv',
 'city_housing_data.csv']

In [7]:
df = pd.read_csv("../data/census_data.csv")

In [8]:
df.head()

   total_population  median_home_value  median_gross_rent  state  zip_code
0             17113              83900              14361     72       601
1             37751              85300              16807     72       602
2             47081             118400              16049     72       603
3              6392              80800              12119     72       606
4             26686              87600              19898     72       610

In [9]:
df["state"].nunique()

52

In [11]:
df["zip_code"].unique()

array([  601,   602,   603, ..., 99926, 99927, 99929])