In [4]:
import os

In [5]:
import pandas as pd

In [6]:
os.listdir("../data/")

['simplified_zipcode_geo.json',
 'census_data.csv',
 'shapefiles',
 '.ipynb_checkpoints']

In [65]:
df = pd.read_csv("../data/processed_census_data.csv", dtype={"zip_code": str})

In [63]:
df = pd.read_csv("../data/census_data.csv")

In [66]:
df

,Total Population,Population Density,Median Age,Median Household Income,Median Gross Rent,Median Home Value,Percentage of Owner-occupied Housing Units,Percentage of Vacant Housing Units,Educational Attainment - Total Population,Educational Attainment - High School Diploma,...,Age Distribution - 65 to 74 Years,Age Distribution - 75 to 84 Years,Age Distribution - 85 Years and Over,Household Type - Total Households,Household Type - Family Households,Household Type - Non-family Households,Employment Status - Total Population,Employment Status - In Labor Force,Employment Status - Civilian Labor Force Unemployed,zip_code
0,16834,16834,44.0,17526.0,401.0,90900.0,3740,1832,12295,344,...,99,322,534,5341,3527,1814,14116,6058,4700,00601
1,37642,37642,45.2,20260.0,459.0,98300.0,9630,4610,28321,854,...,359,652,1275,12777,8652,4125,32451,12182,11246,00602
2,49075,49075,45.0,17703.0,448.0,129200.0,11258,5501,36307,666,...,287,1014,1706,19624,12751,6873,41811,16076,13482,00603
3,5590,5590,46.2,19603.0,394.0,104700.0,1463,774,4118,144,...,27,128,99,1948,1316,632,4784,1449,1366,00606
4,25542,25542,44.4,22796.0,524.0,104600.0,6392,3547,19085,664,...,152,579,899,8781,5872,2909,22058,9542,8751,00610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33182,25,25,NaN,NaN,NaN,NaN,25,43,25,0,...,0,0,0,25,0,25,25,25,25,99923
33183,920,920,43.0,80313.0,865.0,284100.0,274,80,671,0,...,2,15,31,374,234,140,733,492,451,99925
33184,1465,1465,37.9,78365.0,807.0,163900.0,347,43,981,0,...,5,32,55,447,358,89,1145,698,616,99926
33185,14,14,NaN,NaN,NaN,NaN,14,27,14,0,...,0,0,0,14,0,14,14,0,0,99927
33186,2133,2133,48.9,61125.0,966.0,274200.0,604,377,1558,1,...,23,14,99,927,498,429,1710,844,815,99929